@model IList<Course>;

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-area="" asp-controller="Courses" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>

                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Courses" asp-action="Edit" asp-route-id="@item.CourseID">Edit</a>
                        <a asp-controller="Courses" asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
                    }

                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.CourseID">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
